<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
        body {
            /* max-width: 21cm;  設定網頁最大寬度為21cm */
            margin: 0 auto;  /* 在左右兩側自動居中 */
            padding-left: 1cm;  /* 在左側留下1.5cm的空白 */
            padding-right: 1cm;  /* 在右側留下1.5cm的空白 */
        }
    </style>
</head>
<body>
    <form id="vote-form" action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.voter.label_tag }}
            {{ form.voter }}
        </div>
        {{ form.choice_text }}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            
            {% if question.is_multiple_choice %}
            <div class="card">
              <div class="card-body">
                This is a multiple choice question.
              </div>
            </div>
            <br>
            {% endif %}
            
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="choice" value="{{ choice.id }}">
                    <label class="form-check-label">{{ choice.choice_text }}</label>
                </div>
            {% endfor %}
        </fieldset>

        <input type="hidden" id="voter-input" name="voter" value="">
        <br>
        <button class="btn btn-primary" type="button" name="vote_click" onclick="confirmVote(event)">Vote</button>
        <button class="btn btn-secondary" type="submit" name="home">Back to home page</button>
    </form>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <!-- SVG symbols here -->
    </svg>

    <div id="error" style="display: none; ">
        <!-- Error message content here -->
    </div>

    <div id="choice-error" style="display: none; ">
        <!-- Choice error message content here -->
    </div>

    {% if question.is_multiple_choice %}
    <script>
        function confirmVote(event) {
            var selectedChoices = document.querySelectorAll('input[name="choice"]:checked');
            if (selectedChoices.length === 0) {
                document.getElementById("error").style.display = 'flex';
                event.preventDefault();  // 阻止表單提交
            } else {
                var voter = prompt("Please enter your name:");
                
                if (voter !== null && voter !== "") {
                    document.getElementById("voter-input").value = voter;
                    document.getElementById("vote-form").submit(); // 手動提交表單

                } else {
                    event.preventDefault(); // 阻止表單提交
                }
            }
        }
    </script>
    {% else %}
    <script>
        function confirmVote(event) {
            var selectedChoices = document.querySelectorAll('input[name="choice"]:checked');
            if (selectedChoices.length === 0) {
                document.getElementById("error").style.display = 'flex';
                event.preventDefault();  // 阻止表單提交
            } else if (selectedChoices.length > 1) {
                document.getElementById("choice-error").style.display = 'flex';
                event.preventDefault();  // 阻止表單提交
            } else {
                var voter = prompt("Please enter your name:");
                
                if (voter !== null && voter !== "") {
                    document.getElementById("voter-input").value = voter;
                    document.getElementById("vote-form").submit(); // 手動提交表單

                } else {
                    event.preventDefault(); // 阻止表單提交
                }
            }
        }
    </script>
    {% endif %}
</body>
</html>
