{% load static %}

<html>
<head>
    <title>Yvette's Polls Website</title>
    <style>
        h1 {
            font-weight: bold;
            font-size: 30px;
            font-family: Avenir Next Condensed;
            color: rgb(64, 117, 148);
        }
    </style>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>
    <h1>Yvette's Polls Website</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>